[Unit]
Description=run Update_Checker.cgi

[Service]
Type=simple
ExecStart=/bin/sh /var/www/cgi-bin/Update/Update_Checker.cgi

[Install]
WantedBy=multi-user.target
