/* pureMPD Split-View UI Style Sheet */

* {
	margin: 0px;
	}


html, body {
 	box-sizing: border-box;
	width: 100%;
	height: 100%;
	font-family: "SFPro","SegoeUI","Roboto",sans-serif;
	font-size: 100%;
	font-weight: 100;
	}


h1 {
	margin-left: 5px;
	padding-top: 0px;
	font-weight: 100;
	font-size: 3.75vmin;
        color: #7D7D7D;
	}

h2 {
        margin-left: 5px;
	margin-bottom: 0.4rem;
	padding-top: 0.4rem;
        font-weight: 100;
        font-size: 3.5vmin;
        color: #7D7D7D;
        }

h3 {
        margin-left: 5px;
	margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        padding-top: 0.4rem;
	font-weight: 100;
        font-size: 2.65vmin;
        color: #7D7D7D;
        }

h4 {
        margin-left: 5px;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	padding-top: 0.2rem;
        font-weight: 100;
        font-size: 2.5vmin;
        color: #7D7D7D;
        }

small { font-size: 1.5vmin; }

code { 
/*      padding-left: 5px;*/
        white-space: pre-wrap; 
        line-height: 150%;
/*	overflow-wrap: break-word;*/
/*	word-break: break-all;*/
        color: #7D7D7D;
	font-size: 2.0vmin;
        }


iframe {
        box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding-top: 4.5vmin;
	padding-left: 6vmin;
	padding-right: 6vmin;
	padding-bottom: 0%;;
	border: none;       	
	}


select, input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	}

placeholder {
	color: #FFFFFF;
	}

ul {
  list-style-type: none;
}

#splitView {
        box-sizing: border-box;
	width: 100vw;
	height: 92%;
	display: flex;
	flex-wrap: nowrap;
	}


.sidebar {
        box-sizing: border-box;
	width: 22vw;
	height: 100%;
	background-color: #D8D8D8;
	color: #FBFBFB;
	}

.main {
	box-sizing: border-box;
	width: 78vw;
	height: 100%;
/*	padding-left: 5%;*/
/*	padding-right: 0%;*/
/*	padding-top: 3.5%;*/
	background-color: #FAFAFA;
	color: #FBFBFB;
	}

.bottom {
	box-sizing: border-box;
        height: 8%;
        padding-left: 0%;
        padding-right: 5vmin;
        padding-top: 2.5vmin;
        padding-bottom: 0vmin;
	text-align: right;
        background-color: #323232;
        color: #FBFBFB;
        }


.title {
       /* box-sizing: border-box;*/
	margin-bottom: 0%;
	padding-top: 4.5vmin;
	padding-right: 2vmin;
	padding-bottom: 4.0vmin;
	padding-left: 6vmin;
	background-color: #D8D8D8;
	text-decoration: none;
	font-size: 3.75vmin;
	color: #FFFFFF;
	}

.icon {
        box-sizing: border-box;
	width: 25vmin;
        padding-top: 4.5vmin;
        padding-right: 1vmin;
        padding-bottom: 4.0vmin;
        padding-left: 6vmin;
       /* background-color: #D8D8D8;*/
       }


.menutab {
	display: block;
        margin: 0;
        padding-left: 6vmin;
	padding-right: 2vmin;
	padding-top: 1.5vmin;
	padding-bottom: 1.5vmin;	
	background-color: #D8D8D8;
        border-radius: 0 px;
	text-decoration: none;
        font-size: 2.25vmin;
        color: #7D7D7D;
	transition: background 1s;
        }

.menutab:hover {
	background-color: #FAFAFA;
	color: #7D7D7D;
	}

.menutab:active {
        background-color: #FAFAFA;
        color: #7D7D7D;
        }

/* .menutab:focus { */
        background-color: #FAFAFA;
        color: #7D7D7D;
        }

.menutab::selection {
        background-color: #FAFAFA;
        color: #7D7D7D;
        }

.cover {
 	box-sizing: border-box;
	width: 75%;
	margin-top: 2.5%;
	margin-left: 5px;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	padding: 0%;
	box-shadow: 0rem 0rem 0.3rem #D8D8D8;	
}

.bunner {
        box-sizing: border-box;
	position: fixed;
	width: 100%;
        margin: 1%;
        padding: 0px;
	}


.songinfo {
	display: block;
	margin-left: 5px;
   /*   padding: 0.2rem;*/
	font-size: 2.5vmin;
        font-weight: 100;
	color: #7D7D7D;
        }


.button {
	margin: 0.75%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-top: 0.5%;
        padding-bottom: 0.5%;
	text-align: center;
	text-decoration: none;
	font-size: 2.5vmin;
	font-weight: 100;
	border: none;
	border-radius: 1.25vmin;
	background-color: #969696;
	color: #ffffff;
	transition: background 0.5s;
        }

.button:hover {
        background-color: #3C3C3C;
        color: #ffffff;
        }


.inputbox {
        margin: 0.75%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        text-align: left;
        text-decoration: none;
        font-size: 2.5vmin;
        font-weight: 100;
        border: none;
        border-radius: 1.25vmin;
        background-color: #969696;
        color: #ffffff;
        transition: background 0.5s;
        }

.inputbox:hover {
        background-color: #3C3C3C;
        color: #FFFFFF;
        }

.inputbox:focus {
	border-color: #969696;
        background-color: #FAFAFA;
        color: #7D7D7D;
        }



